<!DOCTYPE html>
<html lang="ru" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">

    <title>TurtleBro {{ros_robot}} WEB control</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../static/css/bootstrap/bootstrap-slider.min.css" rel="stylesheet">
    <link href="../static/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">    
  </head>

  <body class="d-flex flex-column h-100">
  <header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">EUREKA Web</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Drive<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="arm.html">Arm<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="drill.html">Drill<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="autnav.html">Autonomous<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="power.html">Power<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div> 
    <div>
      <input type="radio" id="dd" name="input_type" checked="checked" />
      <label for="keyboard" style="color:white">direct drive</label>

      <input type="radio" id="pk" name="input_type" />
      <label for="touch" style="color:white">partial kinematics</label>

      <input type="radio" id="flightstick" name="input_type" />
      <label for="flightstick" style="color:white">flightstick</label>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0"  style="margin-top: 5%;">
    <div class="row">
      <div class="col-lg-4">
        <div class="stream1" style="border:4px solid rgb(14, 229, 54); object-fit:contain">
          <img src="http://{{ros_host}}:9999/stream?topic=/platformcam/image_raw&type=mjpeg&default_transport=compressed&quality=20" width="600" height="450" style="max-width:100%; height:auto"/>
        </div>
        <div class="stream3" style="border:8px solid rgb(14, 229, 54)">
          <img src="http://{{ros_host}}:9999/stream?topic=/geocam/image_raw&type=mjpeg&default_transport=compressed&quality=20" width="600" height="450" style="max-width:100%; height:auto"/>
        </div>
          <input name="del" type="button" class="btn btn-warning" value="Hide Stream">
      </div>
      <div class="col-lg-4">
        <div class=" stream2" style="border:4px solid rgb(14, 229, 54)">
          <img src="http://{{ros_host}}:9999/stream?topic=/micro2/image_raw&type=mjpeg&default_transport=compressed&quality=50" width="600" height="450" style="max-width:100%; height:auto"/>
        </div>
        <input name="del" type="button" class="btn btn-warning" value="Hide Stream">
        <div class="weather" style="border:4px solid rgb(239, 55, 184)">
          <b>WEATHER</b>
          <div class="row">
            &emsp; Wind Speed:&nbsp; <p style="display:inline" id="wind_speed"></p>&nbsp; m/s, Wind Direction:&nbsp; <p style="display:inline" id="wind_direction"></p>&nbsp; deg<br/>
          </div>
          <div class="row">
            &emsp; Temperature:&nbsp; <p style="display:inline" id="temperature"></p>&nbsp; C, Humidity:&nbsp; <p style="display:inline" id="humidity"></p>&nbsp; %<br/>
          </div>
          <div class="row">
            &emsp; Noise:&nbsp; <p style="display:inline" id="noise"></p>&nbsp; dB, Pressure:&nbsp; <p style="display:inline" id="pressure"></p>&nbsp; Bar<br/>
          </div>
          <div class="row">
            &emsp; PM2.5:&nbsp; <p style="display:inline" id="pm25"></p>&nbsp; ug/m3, PM10:&nbsp; <p style="display:inline" id="pm10"></p> &nbsp;ug/m3<br/>
          </div>
        </div>
        <div class="weather" style="border:4px solid rgb(103, 32, 227)">
          <b>NEEDLE</b>
          <div class="row">
            &emsp; Nitrogen:&nbsp; <p style="display:inline" id="nitrogen"></p>&nbsp; ug/kg, Phosphorus:&nbsp; <p style="display:inline" id="phosphorus"></p>&nbsp; ug/kg<br/>
          </div>
          <div class="row">
            &emsp; Potassium:&nbsp; <p style="display:inline" id="potassium"></p>&nbsp; ug/kg, PH:&nbsp; <p style="display:inline" id="ph"></p>&nbsp; PH<br/>
          </div>
          <div class="row">
            &emsp; Conductivity:&nbsp; <p style="display:inline" id="conductivity"></p>&nbsp; mks/cm, Temperature:&nbsp; <p style="display:inline" id="soil_temperature"></p>&nbsp; C<br/>
          </div>
          <div class="row">
            &emsp; Moisture:&nbsp; <p style="display:inline" id="moisture"></p>&nbsp; RH<br/>
          </div>
        </div>
      </div> 
      <div class="col-lg-4">
        <div class="row">
          <p class="lead"></p>
          <p>Platform_Velocity: &nbsp; 
            <input
            id="platform_slider"
            type="text"
            data-provide="slider"
            data-slider-min="1"
            data-slider-max="10"
            data-slider-step="0.5"
            data-slider-value="1.5"
          ></p>
        </div>
        <div class="row">
          <p class="lead"></p>
          <p>Drill Linear Velocity: &nbsp; 
            <input
            id="drill_slider_lin"
            type="text"
            data-provide="slider"
            data-slider-min="1"
            data-slider-max="10"
            data-slider-step="0.5"
            data-slider-value="1.5"
          ></p>
        </div>
        <div class="row">
          <p class="lead"></p>
          <p>Drill Angular Velocity: &nbsp; 
            <input
            id="drill_slider_ang"
            type="text"
            data-provide="slider"
            data-slider-min="1"
            data-slider-max="10"
            data-slider-step="0.5"
            data-slider-value="10"
          ></p>
        </div>
        <div class="row">
          bat1: <p style="display:inline" id="bat1_volt"></p> V, <p style="display:inline" id="bat1_curr"></p> A<br/>
        </div>
        <div class="row">
          bat2: <p style="display:inline" id="bat2_volt"></p> V, <p style="display:inline" id="bat2_curr"></p> A<br/> 
        </div>
        <div class="row">
          bat3: <p style="display:inline" id="bat3_volt"></p> V, <p style="display:inline" id="bat3_curr"></p> A<br/>
        </div>
        <div class="=row">
          Rover Config:
        </div>
        <div class="=row">
          Control Mode:
          <input type="radio" id="control_raw" name="control_mode" />
          <label for="control_raw" >raw</label>
    
          <input type="radio" id="control_pid" name="control_mode"  checked="checked"/>
          <label for="control_pid">pid</label>
    
          <input type="radio" id="control_st" name="control_mode" />
          <label for="control_st" >st</label>
        </div>
        <div class="=row">
          Power Saving:
          <input type="radio" id="ps_on" name="power_saving" />
          <label for="ps_on" >on</label>
    
          <input type="radio" id="ps_off" name="power_saving"  checked="checked"/>
          <label for="ps_off">off</label>
        </div>
        <div class="=row">
          Heartbeat:
          <input type="radio" id="hb_on" name="hearbeat" checked="checked"/>
          <label for="hb_on" >on</label>
    
          <input type="radio" id="hb_off" name="hearbeat" />
          <label for="hb_off">off</label>
        </div>
        <div class="=row" style="margin-top: 20px;">
          <button id="platform_up" style="height:50px;width:200px">Up</button>
          <button id="platform_down" style="height:50px;width:200px">Down</button>
          Platform
        </div>
        <div class="=row" style="margin-top: 10px;">
          <button id="drill_up" style="height:50px;width:200px">Up (Forward)</button>
          <button id="drill_down" style="height:50px;width:200px">Down (Backward)</button>
          Drill
        </div>
        <div class="=row" style="margin-top: 10px;">
          <button id="drill_forward" style="height:50px;width:130px">Forward</button>
          <button id="drill_stop" style="height:50px;width:130px">Stop</button>
          <button id="drill_reverse" style="height:50px;width:130px">Reverse</button>
          Drill
        </div>
        <div class="=row" style="margin-top: 10px;">
          <button id="carousel_clockwise" style="height:50px;width:200px">Clockwise</button>
          <button id="carousel_counterclockwise" style="height:50px;width:200px">CounterClockwise</button>
          Carousel
        </div>
        <div class="=row" style="margin-top: 10px;">
          <button id="needle_up" style="height:50px;width:200px">Up</button>
          <button id="needle_down" style="height:50px;width:200px">Down</button>
          Needle Probe
        </div>
      </div>    
    </div>
     
<script src="./static/js/jquery-3.5.1.min.js" ></script>
<script src="./static/js/bootstrap/bootstrap.bundle.js"></script>
<script src="./static/js/bootstrap/bootstrap-slider.min.js"></script>
<script src="./static/js/eventemitter2.min.js"></script>
<script src="./static/js/roslib.min.js"></script>
<script src="./static/js/keyboardteleop.js"></script>

<script>
$(document).ready(function(){

    $("input[name='del']").each(function( index ) {
      $(this).on("click", function(){
        $(this).closest("div").find("img").attr("src","");
        $(this).closest("div").remove();
      })
    });

    var flag_w = 0, flag_s = 0, flag_a = 0, flag_d = 0;
    var flag_q = 0, flag_e = 0;
    var bat1_volt = 0, bat1_curr = 0;
    var bat2_volt = 0, bat2_curr = 0;
    var bat3_volt = 0, bat3_curr = 0;
    var lin_vel_mult = 1;
    var ang_vel_mult = 1;
    var touch_flag  = 0, flightstick_flag = 0, keyboard_flag = 0;
    var flag_right = 0, flag_left = 0, flag_stop = 0;
    var drive_mode = 0;
    var control_mode = 1, power_saving = 0, hearbeat = 1;
    var joint_commands_l = [0,0,0,0,0,0,0]
    var joint_commands_r = [0,0,0,0,0,0,0]
    var platform_vel = 0
    var drill_vel = 0
    var drill_spin = 0
    var carousel_vel = 0
    var needle_vel = 0
    var flightstick = {
      roll: 0,
      pitch: 0,
      yaw: 0,
      throttle: 0,
      js_x: 0,
      js_y: 0,
      R1: 0,
      R3: 0,
      L1: 0,
      L3: 0,
      square: 0,
      triangle: 0,
      x: 0,
      o: 0
    }
    // Connecting to ROS.
    var ros = new ROSLIB.Ros({
        url : 'ws://{{ros_host}}:9090'
    });

    // Initialize the teleop.
    var geomod_commands = new ROSLIB.Topic({
        ros : ros,
        name : '/geomod_commands',
        messageType : 'sensor_msgs/msg/JointState'
    });


    var drivetrain_config = new ROSLIB.Topic({
        ros : ros,
        name : '/drivetrain_config',
        messageType : 'sensor_msgs/msg/JointState'
    });

    var weather = new ROSLIB.Topic({
        ros : ros,
        name : '/weather',
        messageType : 'sensor_msgs/msg/JointState'
    });

    var needle = new ROSLIB.Topic({
        ros : ros,
        name : '/needle',
        messageType : 'sensor_msgs/msg/JointState'
    });
    

    var platform_slider = document.getElementById("platform_slider");
    var drill_slider_lin = document.getElementById("drill_slider_lin");
    var drill_slider_ang = document.getElementById("drill_slider_ang");
    

    var bat1_listener = new ROSLIB.Topic({
      ros : ros,
      name : '/bat1',
      messageType : 'sensor_msgs/msg/BatteryState'
    });  
    var bat2_listener = new ROSLIB.Topic({
      ros : ros,
      name : '/bat2',
      messageType : 'sensor_msgs/msg/BatteryState'
    });   
    var bat3_listener = new ROSLIB.Topic({
      ros : ros,
      name : '/bat3',
      messageType : 'sensor_msgs/msg/BatteryState'
    });     
    
    bat1_listener.subscribe(function(message) {
      bat1_voltage = message.voltage
      bat1_current = message.current
      document.getElementById('bat1_volt').innerHTML=bat1_voltage.toFixed(2)
      document.getElementById('bat1_curr').innerHTML=bat1_current.toFixed(2)
    });
    bat2_listener.subscribe(function(message) {
      bat2_voltage = message.voltage
      bat2_current = message.current
      document.getElementById('bat2_volt').innerHTML=bat2_voltage.toFixed(2)
      document.getElementById('bat2_curr').innerHTML=bat2_current.toFixed(2)
    });
    bat3_listener.subscribe(function(message) {
      bat3_voltage = message.voltage
      bat3_current = message.current
      document.getElementById('bat3_volt').innerHTML=bat3_voltage.toFixed(2)
      document.getElementById('bat3_curr').innerHTML=bat3_current.toFixed(2)
    });

    weather.subscribe(function(message) {
  //    console.log(parseFloat(message.position[message.name.indexOf('wind_speed')]));
      document.getElementById('wind_speed').innerHTML = parseFloat(message.position[message.name.indexOf('wind_speed')]).toFixed(2)
      document.getElementById('wind_direction').innerHTML = parseFloat(message.position[message.name.indexOf('wind_direction')]).toFixed(2)
      document.getElementById('temperature').innerHTML = parseFloat(message.position[message.name.indexOf('temperature')]).toFixed(2)
      document.getElementById('humidity').innerHTML = parseFloat(message.position[message.name.indexOf('humidity')]).toFixed(2)
      document.getElementById('noise').innerHTML = parseFloat(message.position[message.name.indexOf('noise')]).toFixed(2)
      document.getElementById('pressure').innerHTML = parseFloat(message.position[message.name.indexOf('pressure')]).toFixed(2)
      document.getElementById('pm25').innerHTML = parseFloat(message.position[message.name.indexOf('pm25')]).toFixed(2)
      document.getElementById('pm10').innerHTML = parseFloat(message.position[message.name.indexOf('pm10')]).toFixed(2)
    });

    needle.subscribe(function(message) {
  //    console.log(parseFloat(message.position[message.name.indexOf('wind_speed')]));
      document.getElementById('nitrogen').innerHTML = parseFloat(message.position[message.name.indexOf('nitrogen')]).toFixed(2)
      document.getElementById('phosphorus').innerHTML = parseFloat(message.position[message.name.indexOf('phosphorus')]).toFixed(2)
      document.getElementById('potassium').innerHTML = parseFloat(message.position[message.name.indexOf('potassium')]).toFixed(2)
      document.getElementById('ph').innerHTML = parseFloat(message.position[message.name.indexOf('ph')]).toFixed(2)
      document.getElementById('conductivity').innerHTML = parseFloat(message.position[message.name.indexOf('conductivity')]).toFixed(2)
      document.getElementById('soil_temperature').innerHTML = parseFloat(message.position[message.name.indexOf('soil_temperature')]).toFixed(2)
      document.getElementById('moisture').innerHTML = parseFloat(message.position[message.name.indexOf('moisture')]).toFixed(2)
    });
      //platform
      document.getElementById('platform_up').onpointerdown = function(){
        platform_vel = platform_slider.value / 10.0
      }
      document.getElementById('platform_up').onpointerup = function(){
        platform_vel = 0
      }
      document.getElementById('platform_down').onpointerdown = function(){
        platform_vel = -platform_slider.value / 10.0
      }
      document.getElementById('platform_down').onpointerup = function(){
        platform_vel = 0
      }
      //drill
      document.getElementById('drill_up').onpointerdown = function(){
        drill_vel = drill_slider_lin.value / 10.0
      }
      document.getElementById('drill_up').onpointerup = function(){
        drill_vel = 0
      }
      document.getElementById('drill_down').onpointerdown = function(){
        drill_vel = -drill_slider_lin.value / 10.0
      }
      document.getElementById('drill_down').onpointerup = function(){
        drill_vel = 0
      }
      //more drill
      document.getElementById('drill_forward').onpointerdown = function(){
        drill_spin = -1
      }
      document.getElementById('drill_stop').onpointerdown = function(){
        drill_spin = 0
      }
      document.getElementById('drill_reverse').onpointerdown = function(){
        drill_spin = 1
      }
      //carousel
      document.getElementById('carousel_clockwise').onpointerdown = function(){
        carousel_vel = 1
      }
      document.getElementById('carousel_clockwise').onpointerup = function(){
        carousel_vel = 0
      }
      document.getElementById('carousel_counterclockwise').onpointerdown = function(){
        carousel_vel = -1
      }
      document.getElementById('carousel_counterclockwise').onpointerup = function(){
        carousel_vel = 0
      }
      //needle
      document.getElementById('needle_up').onpointerdown = function(){
        needle_vel = 1
      }
      document.getElementById('needle_up').onpointerup = function(){
        needle_vel = 0
      }
      document.getElementById('needle_down').onpointerdown = function(){
        needle_vel = -1
      }
      document.getElementById('needle_down').onpointerup = function(){
        needle_vel = 0
      }
    
    

    function checkCheckbox() {
      if(document.getElementById('dd').checked){
        drive_mode = 0
      }
      if(document.getElementById('pk').checked){
        drive_mode = 1
      }
      if(document.getElementById('flightstick').checked){
        drive_mode = 2
      }
      if(document.getElementById('control_raw').checked){
        control_mode = 0
      }
      if(document.getElementById('control_pid').checked){
        control_mode = 1
      }
      if(document.getElementById('control_st').checked){
        control_mode = 2
      }

      if(document.getElementById('ps_off').checked){
        power_saving = 0
      }
      if(document.getElementById('ps_on').checked){
        power_saving = 1
      }

      if(document.getElementById('hb_off').checked){
        hearbeat = 0
      }
      if(document.getElementById('hb_on').checked){
        heartbeat = 1
      }
    }

    function geomod_commands_pub() {
      var jointstate = new ROSLIB.Message({
        name : ["platform_vel", "drill_vel", "drill_vel_rot", "carousel_vel", "needle_vel"],
        position : [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0],
        velocity: [platform_vel, drill_vel, drill_spin * drill_slider_ang.value / 10.0, carousel_vel, needle_vel],
        effort: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
      });
      geomod_commands.publish(jointstate);
    }

    var interval_gamepad = NaN
    var interval_checkbox = setInterval(checkCheckbox, 50);
    var interval_cmd_vel = setInterval(geomod_commands_pub, 50);
 //   var interval_config = setInterval(drivetrain_config_publisher, 500);


/*
    let myStick = new JoystickController("stick", 64, 8);
    function joystick_loop()
    {
      requestAnimationFrame(joystick_loop);
    }
    joystick_loop();


    function gamepad(){
      const gp = navigator.getGamepads()[0];
      flightstick.roll = -gp.axes[0]
      flightstick.pitch = -gp.axes[1]
    }

    




    window.addEventListener("gamepadconnected", (e) => {
      console.log(
        "Gamepad connected at index %d: %s. %d buttons, %d axes.",
        e.gamepad.index,
        e.gamepad.id,
        e.gamepad.buttons.length,
        e.gamepad.axes.length,
      );
      interval_gamepad = setInterval(gamepad, 200);
    });

    window.addEventListener("gamepaddisconnected", (e) => {
      console.log(
        "Gamepad disconnected from index %d: %s",
        e.gamepad.index,
        e.gamepad.id,
      );
      clearInterval(interval_gamepad)
    });

*/
    });









    class JoystickController
    {
      constructor( stickID, maxDistance, deadzone )
      {
        this.id = stickID;
        let stick = document.getElementById(stickID);
        // location from which drag begins, used to calculate offsets
        this.dragStart = null;
        // track touch identifier in case multiple joysticks present
        this.touchId = null;
        
        this.active = false;
        this.value = { x: 0, y: 0 }; 
        let self = this;
        function handleDown(event)
        {
            self.active = true;
          // all drag movements are instantaneous
          stick.style.transition = '0s';
          // touch event fired before mouse event; prevent redundant mouse event from firing
          event.preventDefault();
            if (event.changedTouches)
              self.dragStart = { x: event.changedTouches[0].clientX, y: event.changedTouches[0].clientY };
            else
              self.dragStart = { x: event.clientX, y: event.clientY };
          // if this is a touch event, keep track of which one
            if (event.changedTouches)
              self.touchId = event.changedTouches[0].identifier;
        }
        
        function handleMove(event) 
        {
            if ( !self.active ) return;
            // if this is a touch event, make sure it is the right one
            // also handle multiple simultaneous touchmove events
            let touchmoveId = null;
            if (event.changedTouches)
            {
              for (let i = 0; i < event.changedTouches.length; i++)
              {
                if (self.touchId == event.changedTouches[i].identifier)
                {
                  touchmoveId = i;
                  event.clientX = event.changedTouches[i].clientX;
                  event.clientY = event.changedTouches[i].clientY;
                }
              }
              if (touchmoveId == null) return;
            }
            const xDiff = event.clientX - self.dragStart.x;
            const yDiff = event.clientY - self.dragStart.y;
            const angle = Math.atan2(yDiff, xDiff);
          const distance = Math.min(maxDistance, Math.hypot(xDiff, yDiff));
          const xPosition = distance * Math.cos(angle);
          const yPosition = distance * Math.sin(angle);
          // move stick image to new position
            stick.style.transform = `translate3d(${xPosition}px, ${yPosition}px, 0px)`;
          // deadzone adjustment
          const distance2 = (distance < deadzone) ? 0 : maxDistance / (maxDistance - deadzone) * (distance - deadzone);
            const xPosition2 = distance2 * Math.cos(angle);
          const yPosition2 = distance2 * Math.sin(angle);
            const xPercent = parseFloat((xPosition2 / maxDistance).toFixed(4));
            const yPercent = parseFloat((yPosition2 / maxDistance).toFixed(4));
            
            self.value = { x: xPercent, y: yPercent };
          }
        function handleUp(event) 
        {
            if ( !self.active ) return;
            // if this is a touch event, make sure it is the right one
            if (event.changedTouches && self.touchId != event.changedTouches[0].identifier) return;
            // transition the joystick position back to center
            stick.style.transition = '.2s';
            stick.style.transform = `translate3d(0px, 0px, 0px)`;
            // reset everything
            self.value = { x: 0, y: 0 };
            self.touchId = null;
            self.active = false;
        }
        stick.addEventListener('mousedown', handleDown);
        stick.addEventListener('touchstart', handleDown);
        document.addEventListener('mousemove', handleMove, {passive: false});
        document.addEventListener('touchmove', handleMove, {passive: false});
        document.addEventListener('mouseup', handleUp);
        document.addEventListener('touchend', handleUp);
      }
    }
</script>
</html>
